<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <section
      class="flex w-full max-w-[1440px] min-h-[266px] items-center justify-between px-20 py-12 bg-[linear-gradient(116.12deg,_#7C4DFF_17.1%,_#FFF7D1_82.9%)] mx-auto"
    >
      <div class="max-w-2xl text-white">
        <h2 class="text-4xl font-bold mb-4 tracking-tight">
          Ready to Elevate Your Workday?
        </h2>
        <p class="text-lg opacity-90 leading-relaxed">
          Discover your next favorite place to focus, connect, and create.
          Whether you're freelancing solo or scaling a team, Workora has a space
          just for you.
        </p>
      </div>

      <div class="flex gap-4">
        <button
          class=" border border-[#4A148C] text-[#4A148C] px-8 py-3 rounded-lg font-semibold transition-all hover:bg-[#4A148C] hover:text-white cursor-pointer"
        >
          Book Your Space
        </button>
        <button
          class="border border-[#4A148C] text-[#4A148C] px-8 py-3 rounded-lg font-semibold hover:bg-[#4A148C] hover:text-white transition-all cursor-pointer"
        >
          Contact US
        </button>
      </div>
    </section>  
  </body>
</html>
