<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Testimonial Slider</title>
    
  </head>
  <body>
    <section class="relative w-full max-w-[1440px] min-h-[706px] flex flex-col items-center justify-center py-24 px-6 overflow-hidden mx-auto"
      style="background: linear-gradient(116.12deg, #7c4dff 17.1%, #fff7d1 82.9%);">
      
      <div class="absolute left-10 md:left-36 top-10 opacity-10">
        <i class="fa-solid fa-quote-left text-[15rem] md:text-[22rem] text-black"></i>
      </div>

      <h2 class="relative z-10 text-[#FFF7D1] text-5xl md:text-6xl font-black uppercase mb-16">
        Testimonials
      </h2>

      <div class="flex items-center justify-center w-full max-w-5xl">
        
        <button class="hidden md:flex w-[66.7px] h-[66.7px] items-center justify-center rounded-full hover:bg-white/30 cursor-pointer bg-black/10 transition-all ">
          <i class="fa-solid fa-chevron-left text-white text-xl"></i>
        </button>

        <div  class="mx-0 md:mx-12 w-full max-w-[440px] h-[520px] bg-black/10 rounded-lg flex flex-col items-center text-center py-12 px-8 fade-in">
          <div class="w-[130px] h-[130px] rounded-full overflow-hidden mb-6 shadow-xl border-4 border-white/20">
            <img id="user-img" src="https://i.pravatar.cc/150?u=leul" alt="User" class="w-full h-full object-cover" />
          </div>

          <h4  class="text-white text-2xl font-bold mb-1">Leul Mekonen</h4>
          <p  class="text-white/80 font-medium mb-8">Freelancer</p>

          <p  class="text-white text-lg leading-relaxed">
            "Workora completely changed how I work. I used to bounce between cafés, but now I have a space that feels like mine."
          </p>
        </div>

        <button class="hidden md:flex w-[66.7px] h-[66.7px] items-center justify-center rounded-full hover:bg-white/30 cursor-pointer bg-black/10 transition-all">
          <i class="fa-solid fa-chevron-right text-white text-xl"></i>
        </button>
      </div>

      <div class="flex md:hidden gap-6 mt-10">
        <button class="w-14 h-14 flex items-center justify-center rounded-full bg-white/20 border border-white/20">
          <i class="fa-solid fa-chevron-left text-white"></i>
        </button>
        <button  class="w-14 h-14 flex items-center justify-center rounded-full bg-white/20 border border-white/20">
          <i class="fa-solid fa-chevron-right text-white"></i>
        </button>
      </div>
    </section>

  </body>
</html>